  .newStyles button{
    color: #003a45!important;
    opacity:0.8;
    background-color: transparent!important;
    border-color:  transparent!important;
    font-size: 0.8rem;
    font-weight: 500;
    
  }

.dropdown-menu {
  min-width: 1rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 0.9rem;
  color: #003a45!important;
}

.dropdown-item {
  padding: .25rem 1.1rem;
}

@media screen and (max-width:1200px){
  .newStyles button{
    font-size: 1.3rem;
  }
  .dropdown-menu {
    font-size: 1.1rem;
  }
}