.continue-reading{
    display:flex;
    justify-content: center;
    padding:5px 15px 5px 15px;
    background-color: #003A45;
    font-family: "Montserrat", sans-serif;
    font-variant:all-small-caps;
    color:white;
    opacity: 0.5;
}
