.book-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px;
    font-weight: 500;
    background-color: #003a45;
    color: #fff;
  }

  .book-button:hover{
    background-color:#006a80;
  }
  .book-button:active{
    background-color: #fff;
    color:  #003a45;
  }