.book-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
  font-weight: 500;
  background-color: #003a45;
  color: #fff;
}

.book-button:hover {
  background-color: #006a80;
}
.book-button:active {
  background-color: #fff;
  color: #003a45;
}

/* Media Query */
@media screen and (max-width: 576px) {
  .book-button {
    margin-bottom: 10px;
  }
}
