/* Hero Section */
.hero-section {
  width: 100%;
  padding: 0;
}

.hero-img {
  width: 100%;
  height: 500px;
  background-image: url("../../assets/hero_img_reduced.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -25px;
  margin-bottom: 50px;
  z-index: 1;
}
.box {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px #888888;
}
.box1 {
  background-color: #98cdc7;
}
.box2 {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  background-color: #75bdb4;
}
.box3 {
  background-color: #53aca2;
}

.boxTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #c4c4c4;
  color: #fff;
}

.boxTitle h4 {
  font-size: 1.1rem;
  padding-left: 30px;
}

.boxTitle-text {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
.boxTitle-box2 {
  align-self: flex-end;
}

/* ProfessionalPreview Section */
.professionalPreview-container {
  background-color: rgb(176, 201, 180, 0.2);
}
.professionalPreview-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.professionalPreview-text {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 30px 0 0 30px;
  font-weight: 700;
}
.professionalPreview-text h1 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  font-variant-caps: small-caps;
}
.professionalPreview-text h1,
.professionalPreview-text h4,
.professionalPreview-text p {
  color: #003a45;
  opacity: 0.7;
}

.professionalPreview-text p,
.professionalPreview-text h4 {
  margin: 40px 0 40px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.professionalPreview-text hr {
  width: 20%;
  border-width: 1px;
  margin-left: 0;
  color: #003a45;
  border-color: #003a45;
  opacity: 0.3;
}
.professionalPreview-img {
  display: flex;
  justify-content: center;
  width: 350px;
  height: auto;
}
.professionalPreview-img img {
  width: 90%;
}

/* Appointment Section */

.appointment-container {
  background-color: rgb(229, 229, 229, 0.5);
}
.appointment-section {
  display: flex;
}

/* Testimonials Subsection */

.testimonials-subsection {
  height: 500px;
  margin: 80px 0 80px 0;
  padding: 0 30px 0px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.testimonial {
  width: 300px;
  margin-bottom: 5px;
}
.testimonials-title {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-variant: all-small-caps;
  opacity: 0.8;
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.quote {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}
.quote img {
  width: 100%;
  opacity: 0.7;
}
.quote-text {
  padding-left: 20px;
  font-size: 0.8rem;
  color: #000;
  opacity: 0.8;
}
.avatar {
  display: flex;
  align-items: center;
}
.avatar-face {
  width: 50px;
  height: auto;
  margin: 10px 0 0 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-face img {
  width: 100%;
}
.avatar h6 {
  padding: 13px 0 0 10px;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  opacity: 0.8;
}

div.testimonial:nth-child(2) {
  align-self: flex-end;
}

/* Style Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  border-radius: 10px;
}

/* Map Section */

.map {
  position: relative;
  padding: 0;
}
.additionalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 115px;
  left: 9px;
  width: 305px;
  height: 335px;
  padding: 30px;
  background-color: #047388;
}
.additionalInfo img {
  width: 15px;
  height: 15px;
}

.workingHours {
  margin-bottom: 20px;
}
.workingHours,
.contactDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.workingHours h5,
.workingHours h6,
.contactDetails h5 {
  margin-bottom: 10px;
  color: #fff;
}
.workingHours h5,
.contactDetails h5 {
  font-variant-caps: all-small-caps;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.workingHours h6,
.contactDetails h6 {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-variant-caps: small-caps;
  font-weight: 500;
}
.workingHours h6 span,
.contactDetails h6 span {
  font-weight: 300;
  font-size: 0.7rem;
  padding-left: 10px;
}

.phone-details,
.contact-details {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
}


.phone-details img,
.contact-details img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.contactDetails h6 {
  font-variant: normal !important;
  font-size: 0.7rem;
}

/* Media Query */
@media screen and (min-width: 320px) and (max-width: 360px) {
  div.testimonial:nth-child(2) {
    align-self: initial;
  }
}
@media screen and (max-width: 399px) {
  .additionalInfo {
    width: 294px;
  }
}

@media screen and (max-width: 576px) {
  .testimonial {
    width: 270px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .hero-description {
   margin-top:-90px;
  }
  .box {
    width: 100%;
    margin-bottom: 10px;
  }
  .box2 {
    border-right: none;
    border-left: none;
  }
  .appointment-section {
    flex-direction: column;
  }
  .testimonials-subsection {
    padding: 0;
    width: 100%;
    margin: 0px 0 80px 0;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .box {
    width: 250px;
  }
}
