.label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  left: 10px;
  top: 30%;
  width: 250px;
  height: 100px;
  background-color: rgb(196, 196, 196, 0.7);
}
.label p {
  font-family: "Montserrat", sans-serif;
  font-variant-caps: small-caps;
  color: #003a45;
  font-size: 1.3rem;
}
