.infoTable {
  position: absolute;
  top: 204px;
  left: 0px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  transition: transform 0.5s;
  cursor: pointer;
}

.infoTable-schedule,
.infoTable-phone,
.infoTable-location,
.infoTable-hand {
  display: flex;
  align-items: center;
  width: 270px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.infoTable-clock-container,
.infoTable-phone-container,
.infoTable-location-container,
.infoTable-hand-container {
  padding-bottom: 10px;
  padding-right: 0;
}

.infoTable-clock-container img,
.infoTable-phone-container img,
.infoTable-location-container img,
.infoTable-hand-container img {
  width: 25px;
  height: 25px;
  opacity: 0.7;
}
.infoTable-info {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9rem;
    color: #003a45;
  }
  
  .infoTable-firstText {
    font-size: 1rem;
    font-weight: 600;
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    opacity: 0.8;
  }
  .infoTable-subText {
    font-size: 1rem;
    font-weight: 500;
    font-feature-settings: "c2sc";
    font-variant: normal;
    color: #000;
    opacity: 0.7;
  }


.infoTable-hours {
  font-size: 0.9rem;
}
.infoTable-social-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .infoTable-social-container a img {
    width: 22px;
    height: auto;
    margin-right: 2px;
    opacity: 0.5;
    cursor: hand;
  }

/* Media Query */

@media screen and (min-width:1200px){
    .infoTable{
        display:none;
    }
}