.page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(176, 201, 180, 0.3);
    height: 180px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .page-title {
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 55px;
    font-family: "Montserrat", sans-serif;
    font-variant-caps: small-caps;
  }
  .page-title h1 {
    font-size: 2.2rem;
    opacity: 0.8;
    text-align: center;
  }

  @media screen and (max-width:1200px){
    .page-header {
      height: 120px;
    }
  }