.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #fff;
}
.navInfo-container {
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.praxisInfo {
  width: 70%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.schedule,
.phone,
.location,
.hand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
.clock-container,
.phone-container,
.location-container,
.hand-container {
  padding-bottom: 10px;
  padding-right: 10px;
}
.clock-container img,
.phone-container img,
.location-container img,
.hand-container img {
  width: 25px;
  height: 25px;
  opacity: 0.7;
}
.info {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  color: #003a45;
}

.firstText {
  font-size: 1rem;
  font-weight: 600;
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  opacity: 0.8;
}
.subText {
  font-size: 1rem;
  font-weight: 500;
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  color: #000;
  opacity: 0.7;
}

.hours {
  font-size: 0.8rem;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 120px;
  height: 100px;
}
.logo-text {
  font-family: "Roboto Condensed", sans-serif;
  font-variant-caps: all-small-caps;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #003a45;
  text-shadow: 0.5px 0.5px #7c7ba7;
  opacity: 0.8;
}

.logo-text h6 {
  margin-bottom: -0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.social-container {
  display: flex;
  justify-content: space-evenly;
}

.social-container a img {
  width: 18px;
  height: auto;
  margin-right: 2px;
  opacity: 0.5;
  cursor: hand;
}

.navMenu-content,
.menu-buttons,
.menu,
.language-button {
  display: flex;
  align-items: center;
}

.navMenu {
  background-color: rgb(176, 201, 180, 0.3);
  border-top: 2px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.navMenu-content {
  height: 50px;
}

.menu {
  width: 50%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}

.menu li {
  font-size: 0.9rem;
  font-weight: 500;
  color: #003a45;
  opacity: 0.8;
  cursor: pointer;
  transition: font-size 0.5s;
}

.menu li:hover {
  font-weight: 700;
  opacity: 1;
  color: #003a45;
}

.menu li a{
  color: #003a45;
}

.menu-buttons {
  width: 200px;
  margin-left: auto;
  justify-content: space-around;
}




/* Media Query */

@media screen and (max-width: 1200px) {
  .logo {
    padding-left: 30px;
  }
  .praxisInfo {
    display: none;
  }
  .navInfo-container {
    flex-direction: column;
  }
  .navMenu {
    display: none;
  }
  .navMenuMobile {
    height: 100vh;
    display: flex;
  }
  .navMenu-content {
    height: initial;
  }
  .menu {
    flex-direction: column;
  }

  .menu li {
    font-size: 1.2rem;
    font-weight: 500;
    color: #003a45;
    opacity: 0.8;
    cursor: pointer;
    transition: font-size 0.5s;
    margin-bottom: 20px;
    font-variant: all-small-caps;
    font-family: "Montserrat";
  }
  .menu-buttons {
    width: 50%;
    flex-direction: column;
    margin-left: 0;
  }
 

  
}

@media screen and (min-width:1200px){
  .navInfo-container {
    display: flex!important;
}
}