.user {
  line-height: 0;
}

.user img {
  width: 100%;
}

/* Media Query */

@media screen and (max-width:360px) {
  .user {
    width: 15px;
    height: 15px;
    line-height: 0;
  }
}

@media screen and (min-width:361px) and (max-width:1200px) {
  .user {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width:1201px){
  .user {
    width: 15px;
    height: 15px;
  }
}