.user {
  line-height: 0;
}

.user img {
  width: 100%;
}

/* Media Query */


@media screen and (min-width:320px) and (max-width:1200px) {
  .user {
    width: 17px;
    height: 17px;
    line-height: 0;
  }
}
@media screen and (min-width:1201px){
  .user {
    width: 15px;
    height: 15px;
  }
}