.map {
    position: relative;
    padding: 0;
  }
  .additionalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 115px;
    left: 9px;
    width: 305px;
    height: 335px;
    padding: 10px;
    background-color: #047388;
  }
  .additionalInfo img {
    width: 15px;
    height: 15px;
  }
  
  .weg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    color: #fff;
  }
  .weg h5 {
    text-decoration: underline;
  }
  .weg h5,
  .weg h6 {
    margin-bottom: 10px;
  }
  .weg h5 {
    font-variant-caps: all-small-caps;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  .weg h6 {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-variant-caps: small-caps;
    font-weight: 700;
  }
  .weg li {
    font-weight: 500;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
  }
  

/* Media Query */

  @media screen and (max-width: 399px) {
    .additionalInfo {
      width: 294px;
    }
  }